{
 :host                   "localhost"
 :port                   1965
 :basedir                "resources/gemfiles"
 :index-file             "index.gmi"
 :generate-missing-index true
 :privkey-file           "resources/pem/privkey.pem"
 :cert-file              "resources/pem/fullchain.pem"
 :mime-types             {".gmi" "text/gemini"}}
